<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" th:each="action : ${actions}">
                    <li><a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a></li>

                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="search-header">
        <form th:action="@{/search/results}" method = "post">
            <h2>Search by:</h2>

            <p>
                <span th:each="column : ${columns}">
                    <input
                            type="radio"
                            name="searchType"
                            th:id="${column.key}"
                            th:value="${column.key}"
                            th:checked="${searchType == null ? column.key == 'all' : column.key == searchType}"/>
                    <label th:for="${column.key}" th:text="${column.value}"></label>
                </span>

            </p>

            <p>
                <label for="searchTerm">Keyword:</label>
                <input type="text" name="searchTerm" id="searchTerm" />
            </p>

            <input type="submit" value="Search" />
        </form>
    <hr/>
    </div>

    <div th:fragment="job-table">
        <table th:each = "job : ${jobs}" class="job-listing">
            <tr>
                <td>ID: <span th:text = "${job.id}" th:style="|color:blue|"></span></td>
            </tr>
            <tr>
                <td>Name: <span th:text = "${job.name}" th:style="|color:blue|"></span></td>
            </tr>
            <tr>
                <td>Employer: <a th:href="@{/list/jobs(column=employer,value=${job.employer})}" th:text = "${job.employer}" th:style="|color:blue|"></a></td>
            </tr>
            <tr>
                <td>Location: <a th:href="@{/list/jobs(column=location,value=${job.location})}" th:text = "${job.location}" th:style="|color:blue|"></a></td>
            </tr>
            <tr>
                <td>Position Type: <a th:href="@{/list/jobs(column=positionType,value=${job.positionType})}"  th:text = "${job.positionType}" th:style="|color:blue|"></a></td>
            </tr>
            <tr>
                <td>Skill: <a th:href="@{/list/jobs(column=coreCompetency,value=${job.coreCompetency})}" th:text = "${job.coreCompetency}" th:style="|color:blue|"></a></td>
            </tr>
        </table>
    </div>

</body>
</html>